Server_Link: http://127.0.0.1:8000/
Api_Server_Link: http://127.0.0.1:8000/api/
Msme_loan_recommend: http://127.0.0.1:8000/api/recommend/

# How to Start the Backend server
# cd backend
# start server :  python manage.py runservers

# Loan_Testing_data:
#Demo 1
{
  "business_type": "Manufacturing",
  "turnover": 850000,
  "loan_amount": 500000,
  "owner_category": "Women",
  "years_in_business": 2
}

# Demo2

{
  "business_type": "Service",
  "turnover": 1200000,
  "loan_amount": 1500000,
  "owner_category": "General",
  "years_in_business": 6
}